.red {
    background-color: red;
}
.green{
    background-color: lawngreen;
}
.blue{
    background-color: royalblue;
}
.yellow{
    background-color: yellow;
}
.aqua{
    background-color: aqua;
}
